/* body */
html{
  scrollbar-color: #fff #000;
  scrollbar-width: thin;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #dedede5c;
}

header {
  position: relative;
  }
  header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 30px 0 0 0;
  padding: 0 5%;
  }
  header .wrap h1.logo {
    
  }
  header .wrap h1.logo a {
  display: block;
  text-decoration: none;
  font-size: 0;
  background-image: url(../img/logo.svg);
  background-size: cover;
  width: 120px;
  height: 120px;
  
  background-position: center;
  }
  header .wrap nav{
    
  }
  header .wrap nav a.menu {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  }
  header .wrap nav a.menu span{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 999999;
  transition: 0.5s;
  }
  header .wrap nav a.menu span:first-child{
  bottom: -15px;
  border-top: 3px solid cornflowerblue;
  }
  header .wrap nav a.menu span:last-child{
  top: -15px; 
  border-bottom: 3px solid cornflowerblue;
  }
  .rotate{
  transform: translateX(-9px) translateY(-5px) rotate(-45deg);
  transform-origin: right top;
  }
  .rotate2{
  transform: translateX(-8px) translateY(6px) rotate(45deg);
  transform-origin: right bottom;
  }
  header .wrap nav ul.gnb{ /*배경*/
  width: 100%;
  height: 1080px;
  background-color: #000000eb;
  position: absolute;
  top: -30px;
  right: 0;
  display: block;
  z-index: 9999;
  opacity: 0;
  }   
  header .wrap nav ul.gnb li.list{ 
  text-align: center;
  font-size: 100px;
  }
  header .wrap nav ul.gnb li.list:first-child{
  margin-top: 150px;
  }
  header .wrap nav ul.gnb li.list a {
  width: 30%;
  color: #ffffffab;
  text-decoration: none;
  padding: 30px;
  display: block;
  margin: 0 auto;
  }
  header .wrap nav ul.gnb li.list:nth-child(2) a{
  padding-left: 50px !important;
  width: 29%;
  }
  header .wrap nav ul.gnb li.list a:hover{
  color: #ffffff;
  }
/* title */
div#title {
  width: 100%;
  background-color: #0000009c;
  height: 1080px;
  display: block;
  background-image: url(../img/bg.png);
  background-size: cover;
  position: relative;
  z-index: -1;
}
  div#title::after{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/backgroundsc.png);
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.2;
  }
  div#title .wrap {
    font-family: 'Silk-Serif-SemiBold';
  }
  div#title .wrap hgroup{
  /*! width: 80%; */
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  margin-top: 150px;
  color: cornflowerblue;
  }
  div#title .wrap h2 {   
  display: flex;
  flex-direction: column;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  padding-top: 123px;
  transform: rotate(0.001deg);
  }
  div#title .wrap h2 span{
  display: block;
  transform: skew(0.01deg);
  }
  div#title .wrap .back{

  }
  div#title .wrap .back .con{

  }
  div#title .wrap .back .con .star{

  }
  div#title .wrap .back .con .star div{
  position: absolute;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  font-size: 0;
  }
  div#title .wrap .back .con .star div:nth-child(1){
  width: 131px;
  height: 75px;
  background-image: url(../img/1.png);
  top: 14%;
  right: 28%;
  animation-name: roz;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  }
  @keyframes roz{
    0%{
      transform: translateZ(100px) rotate3d(0,0,0,0deg);
    }
    100%{
      transform: translateZ(-100px) rotate3d(1,1,0,360deg);
    }
  }
  div#title .wrap .back .con .star div:nth-child(2){
  width: 155px;
  height: 150px;
  background-image: url(../img/3.png);
  top: 15%;
  right: 20%;
  animation-name: roz2;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
  }
  @keyframes roz2{
    0%{
      transform: translateZ(100px) rotate3d(0,0,0,0deg);
    }
    100%{
      transform: translateZ(-100px) rotate3d(3,6,3,360deg);
    }
  }
  div#title .wrap .back .con .star div:nth-child(3){
  width: 150px;
  height: 150px;
  background-image: url(../img/2.png);
  top: 65%;
  left: 21%;
  animation-name: roz3;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;  
  }
  @keyframes roz3{
    0%{
      transform: translateZ(30px) rotate3d(0,0,0,0deg);
    }
    100%{
      transform: translateZ(-30px) rotate3d(1,0,1,360deg);
    }
  }
  div#title .wrap .back .con .upper div{
  background-position: center;
  background-size: cover;
  opacity: 0.8;  
  font-size: 0;
  position: absolute;
  }
  div#title .wrap .back .con .upper div:nth-child(1){
  width: 60px;
  height: 75px;
  background-image: url(../img/4.png);
  top: 45%;
  left: 32%;
  animation-name: lr1;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  }
  @keyframes lr1{
    20%{
      transform: rotate(-5deg);
    }
    80%{
      transform: rotate(5deg);
    }
  }
  div#title .wrap .back .con .upper div:nth-child(2){
  width: 60px;
  height: 75px;
  background-image: url(../img/4.png);
  top: 45%;
  right: 32%;
  transform: rotate(180deg); 
  animation-name: lr2;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
  }
  @keyframes lr2{
    20%{
      transform: rotate(175deg);
    }
    80%{
      transform: rotate(185deg);
    }
  }
  div#title .wrap .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  }
  div#title .wrap .bottom p{
  display: block;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: lighter;
  text-shadow: black 1px 1px 2px;
  }
  div#title .wrap .bottom p:first-child{
  width: 100%;
  margin-top: 230px;
  }
  div#title .wrap .bottom p:last-child{
  margin-top: 180px;
  width: 100%;
  }

/* about */
#about{
  width: 100%;
  margin-top: 300px;
}
  #about .wrap{
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  }
  #about .wrap hgroup{
  color: cornflowerblue;
  }
  #about .wrap hgroup h2{
  width: 55%;
  margin: 0 auto;
  }
  #about .wrap hgroup h2:nth-child(1){
  text-align: left;
  }
  #about .wrap hgroup h2:nth-child(2){
  text-align: right;
  }  
  #about .wrap .txt {
  line-height: 1.6;
  font-size: 15px;
  width: 400px;
  display: block;
  padding-top: 10px;
  padding-left: 50%;
  margin-top: 230px;
  color: #333;
  position: relative;
  }
  #about .wrap .txt::after{
  content: "";
  display: block;
  width: 450px;
  height: 450px;
  border-top: 1px solid cornflowerblue;
  transform: rotate(-45deg);
  position: absolute;
  top: 430px;
  right: 189px;
  display: none;
  }
  #about .wrap .txt p{
  padding-top: 20px;
  text-align: left;
  width: 400px;
  }
  #about .wrap .txt p:nth-of-type(3){
    
  }
  #about .wrap .txt p:nth-of-type(1){
  padding: 0;
  position: absolute;
  color: cornflowerblue;
  top: -125px;
  right: 8%;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  }
  #about .wrap .txt p:nth-of-type(1)::before{
  content: "";
  display: block;
  width: 180px;
  height: 100px;
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 90px);
  z-index: -1;
  transform: rotate(-17deg);
  }
  #about .wrap .txt a::before{
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: cornflowerblue;
  border-radius: 50%;
  z-index: -1;
  }
  #about .wrap .txt a{
  width: 60px;
  height: 40px;
  display: block;
  text-align: left;
  margin-top: 50px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
  position: relative;
  padding: 20px 10px;
  }
  #about .wrap .txt a::after{
  content: "+";
  margin-left: 5px;
  }
  #about .wrap .txt .leftimg{
  position: absolute;
  bottom: 120px;
  right: 580px;
  }
  #about .wrap .txt .leftimg img{
  display: block;
  width: 350px;
  height: 470px;
  border-radius: 0px 50px 0 50px;
  box-sizing: border-box;
  opacity: 0.9;
  }
  #about .wrap .txt .leftimg::after{
  content: "";
  display: block;
  width: 350px;
  height: 470px;
  border-radius: 0px 50px 0 50px;
  position: absolute;
  z-index: -1;
  background-color: lightgray;
  bottom: -20px;
  right: 20px;
  }
  #about .wrap div.list{
  margin-top: 370px;
  }
  #about .wrap div.list h2{
  font-size: 150px;   
  color: cornflowerblue;
  font-weight: bold;
  font-family: 'Silk-Serif-SemiBold';
  }
  #about .wrap div.list h2 span{
  display: inline-block;
  }
  #about .wrap div.list h2 span:nth-child(1){
  padding-right: 200px;
  }
  #about .wrap div.list h2 span:nth-child(2){
  display: block;
  padding-left: 200px;
  }
  #about .wrap div.list h2 span:nth-child(4){
  font-size: 80px;
  }
  #about .wrap .list .biography{
  width: 78%;
  display: flex;
  gap: 45px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  height: 100px;
  justify-content: center;
  align-items: center;
  }
  #about .wrap .list .biography li{
  color: #333;
  transition: all 0.2s;
  }
  #about .wrap .list .biography li a{
  color: #333;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  font-size: 22px;
  width: fit-content;
  padding: 12px 30px;
  display: block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  }
  .dontshow{
  display: none;
  }
/*   #about .wrap .list .biography li a:hover{
  color: cornflowerblue;
  }
  #about .wrap .list .biography li a:hover::after{
  content: "";
  display: block;
  width: 150px;
  height: 50px;
  border: 1px solid cornflowerblue;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -23px;
  }
  #about .wrap .list .biography li:nth-child(2) a:hover::after{
  content: "";
  top: -10px;
  left: -27px;
  width: 120px;
  }
  #about .wrap .list .biography li:nth-child(3) a:hover::after{
  content: "";
  top: -10px;
  left: -23px;
  width: 170px;
  }
  #about .wrap .list .biography li:nth-child(4) a:hover::after{
  content: "";
  top: -10px;
  left: -32px;
  width:120px;
  opacity: 1;
  } */
  .circle{
  border: 1px solid cornflowerblue !important;
  border-radius: 50%;
  color: cornflowerblue !important;
  }
  #about .wrap .list .part{
  display: block;
  padding-top: 50px;
  width:80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  }  
  #about .wrap .list .part ul{

  }
  #about .wrap .list .part ul:nth-child(n+2){
  padding-top: 80px;
  }
  #about .wrap .list .part ul li{
  color: #333;
  font-size: 20px;
  display: grid;
  line-height: 3;
  position: relative;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  }
  #about .wrap .list .part ul li::before{
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid cornflowerblue;
  position: absolute;
  }
  #about .wrap .list .part ul li:first-child::before{
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid cornflowerblue;
  position: absolute;
  }
  #about .wrap .list .part ul li:last-child::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid cornflowerblue;
  position: absolute;
  bottom: 0;
  left: 0;
  }
  #about .wrap .list .part ul li span{
  display: block;
  width: 100%;
  height: 100%;
  }
  #about .wrap .list .part ul li span:nth-child(1){
  text-align: left;
  padding-left: 20px;
  }
  #about .wrap .list .part ul li span:nth-child(2){
  color: #666;
  }
  #about .wrap .list .part ul li .plustxt{
  display: none;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  border-top: 1px dashed cornflowerblue;
  }
  .plustxt p{
  color: #666;
  text-align: left;
  line-height: 2;
  font-size: 18px;
  padding: 20px;
  }
  #about .wrap .part>a{
  display: block;
  font-size: 20px;
  color: cornflowerblue;
  text-decoration: none; 
  width: 100px;
  height: 30px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 25px 0;
  position: relative;
  transition: all 0.3s;
  }
  #about .wrap .part>a::after{
  content: "";
  display: block;
  width: 160px;
  height: 50px;
  border: 1px solid cornflowerblue;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 80px);
  transition: all 0.3s;
  }
  #about .wrap .part>a:hover::after{
  content: "";
  border: 1px solid #666;
  }
  #about .wrap .part>a:hover{
  color: #666;
  }
/* archive */
#archive{
  width: 100%;
  margin-bottom: 160px;
  margin-top: 600px;
}
  #archive .wrap{
  text-align: center;
  margin-top: 150px;
  }
  #archive .wrap h2{
  padding-bottom: 50px;
  display: none;
  }
  #archive .wrap ul.web{

  }
  #archive .wrap ul.web li{
  padding: 30px 0;
  position: relative;
  }
  #archive .wrap ul.web li span{
  font-size: 20px;
  padding-right: 15px;
  }
  #archive .wrap ul.web li a::before{
  content: "01";
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-right: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  }
  #archive .wrap ul.web li:nth-child(1) a::before{
  content: "01";
  }
  #archive .wrap ul.web li:nth-child(2) a::before{
  content: "02";
  }
  #archive .wrap ul.web li:nth-child(3) a::before{
  content: "03";
  }
  #archive .wrap ul.web li:nth-child(4) a::before{
  content: "04";
  }
  #archive .wrap ul.web li a{
  text-decoration: none;
  font-size: 70px;
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: cornflowerblue;
  font-family: 'Silk-Serif-SemiBold';
  transition: all 0.5s;
  }
  #archive .wrap ul.web li:first-child{
  position: relative;
  }
  #archive .wrap ul.web li:first-child::after{
  content: "";
  display: block;
  background-image: url(../img/service1-1.png);
  width: 300px;
  height: 300px;
  background-size: contain;
  position: absolute;
  top: -125px;
  right: 30%;
  z-index: -1;
  transform: rotate(5deg);
  }
  #archive .wrap ul.web li:nth-child(3)::after{
  content: "";
  display: block;
  background-image: url(../img/Helmet.png);
  width: 400px;
  height: 300px;
  background-size: cover;
  position: absolute;
  top: -115px;
  left: 317px;
  z-index: -1;
  }
  #archive .wrap ul.web li:nth-child(4)::after{
  content: "";
  display: block;
  background-image: url(../img/orange.png);
  width: 250px;
  height: 238px;
  background-size: contain;
  position: absolute;
  top: -40px;
  left: 60%;
  z-index: -1;
  }
  #archive .wrap ul.web li a:hover{
  color: #666;
  font-family: "Noto Sans KR", sans-serif;
  width: fit-content;
  }
  #archive .wrap a.more3{
  margin: 0 auto;
  display: block;
  text-decoration: none;
  font-size: 35px;
  color: cornflowerblue;
  background-image: url(../img/under.png);
  width: 300px;
  height: 60px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 150px;
  padding-bottom: 10px;
/*   transition: all 0.5s; */
  }
  #archive .wrap .more3:hover{
  color: #666;
  background-image: url(../img/under2.png);
  }
  #archive .wrap a.more:hover{
  color: #666;
  }
/* archive2 */
#archive2{

}
  #archive2 .wrap{
  width: 70%;
  color: cornflowerblue;
  }
  #archive2 .wrap h2{
  font-size: 150px;
  color: cornflowerblue;
  }
  #archive2 .wrap h2 span{
  display: flex;
  width: 100%;
  justify-content: right;
  line-height: 1;
  }
  #archive2 .wrap .contents{

  }
  #archive2 .wrap .contents .categorywrap{
  display: flex;
  gap: 35px;
  justify-content: end;
  margin-top: 150px;
  }
  #archive2 .wrap .contents .categorywrap a{
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #666;
  padding: 12px 30px;
  transition: all 0.5s;
  border: 1px solid transparent;
  border-radius: 50%;
  font-weight: normal;
  }
  .change{
  color: cornflowerblue !important;
  border: 1px solid cornflowerblue !important;
  border-radius: 50%;
  }
  #archive2 .wrap .contents .allwork{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 80px;
  grid-column-gap: 80px;
  grid-row-gap: 150px;
  }
  #archive2 .wrap .contents .allwork figure{
  height: 400px;
  border-left: 2px solid cornflowerblue;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s;
  }
  .hide{
  display: none !important;
  }
  .show{
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background-color:#f3f3f3d6;
  text-align: center;
  padding: 0;
  }
  #archive2 .wrap .contents .allwork figure>span{
  display: none;
  }
  #archive2 .wrap .contents .allwork figure .txt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  #archive2 .wrap .contents .allwork figure .txt h3{
  font-size: 18px;
  line-height: 1.3;
  }
  #archive2 .wrap .contents .allwork figure .txt .p{
  color: #666;
  }
  #archive2 .wrap .contents .allwork figure .txt .p span{
  line-height: 1.5;
  display: block;
  }
  #archive2 .wrap .contents .allwork figure .txt .p span:nth-child(1){
  max-width: 150px;
  }
  #archive2 .wrap .contents .allwork figure .txt .p span:nth-child(2){
  padding-top: 15px;
  max-width: 400px;
  min-width: 300px;
  }
  #archive2 .wrap .contents .allwork figure .txt .p span:nth-child(3){
  padding-top: 10px;
  }
  #archive2 .wrap .contents .allwork figure .txt a{
  padding: 20px 20px; 
  margin-top: 40px;
  text-decoration: none;
  color: cornflowerblue;
  transition: all 0.5s;
  display: block;
  }
  #archive2 .wrap .contents .allwork figure .txt a:hover{
  color: #666;
  }
  #archive2 .wrap .contents .allwork figure img{
  display: block;
  width: 300px;
  height: fit-content;
  }
  #archive2 .wrap .contents .allwork figure:nth-child(n+5) img{
  height: 100%;
  }
/* contact */
#contact{
  margin-top: 300px;
}
  #contact .wrap{
  width: 80%;
  height: 400px;
  font-size: 18px;
  position: relative;
  border-top: 2px dashed cornflowerblue;
  }
  #contact .wrap  h2{
  font-size: 120px;
  color: cornflowerblue;
  }
  #contact .wrap  p{
  display: block;
  /*! padding: 20px 0; */
  margin-top: 100px;
  color: #666;
  }
  #contact .wrap  address{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  }
  #contact .wrap  address a{
  display: flex;
  color: #333;
  text-decoration: none;
  line-height: 2;  
  font-weight: 500;
  }
  #contact .wrap  address span{
  font-weight: bold;
  color: cornflowerblue;
  display: block;
  width: 80px;
  }
  #contact .wrap div.sns{
  display: flex;
  gap: 50px;
  position: absolute;
  right: 0;
  bottom: 90px;
  }
  #contact .wrap .sns a{
  text-decoration: none;
  display: block;
  line-height: 2;
  width: 120px;
  height: 40px;
  color: cornflowerblue;
  position: relative;
  text-align: center;
  transition: all 0.3s;
  }
  #contact .wrap .sns a::after{
  content:"";
  display: block;
  width: 118px;
  height: 38px;
  border: 1px solid cornflowerblue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  }
  #contact .wrap .sns a:hover{
  color: #666;
  }
  #contact .wrap .sns a:hover::after{
  content: "";
  border: 1px solid #666;
  }
  /* padlet */
#padlet{
  
}
  #padlet .wrap{
  position: relative;
  width: 83%;
  padding: 100px 0;
  padding-top: 0px;
  }
  #padlet .wrap p:last-child{
  display: block;
  right: 7%;
  bottom: 22%;
  display: inline-block;
  position: absolute;
  font-size: 26px;
  color: cornflowerblue;
  font-weight: bold;
  animation: littlemoving linear 1s;
  animation-iteration-count: infinite;
  }
  @keyframes littlemoving{
    20%{
      transform: rotate(-2deg);
    }
    80%{
      transform: rotate(2deg);
    }
  }
  #padlet .wrap p:last-child::after{
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid cornflowerblue;
  transform: rotate(45deg);
  border-bottom: 0;
  border-left: 0;
  }

  /* slick */
  #port{

  }
  #port .wrap{
  width: 1200px;
  margin: 0 auto;
  }
  #port .wrap .portani{

  }
  #port .wrap .portani li{

  }
  #port .wrap .portani li img{

  }
  .slick-prev, .slick-next{
  background-color: #ccc;
  color: #000;
  }
  .slick-prev::before, .slick-next::before{
  color: #000;
  }
  
/* footer */
footer{
  width: 100%;
  background-color: #666;
  color: white;
}
  footer .wrap{
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  position: relative;
  align-items: center;
  padding: 15px 0;
  }
  footer .wrap h1.logo{
  
  }
  footer .wrap a.logo{
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  }
  footer .wrap p:nth-child(1){
  position: absolute;
  left: calc(50% - 180px);
  display: block;
  width: 360px;
  }
  footer .wrap a{
  text-decoration: none;
  font-weight: 100;
  color: white;
  }
